<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Cashier - Cetak Invoice</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    table,
    th,
    td {
      padding: 2px;
    }
    table {
      width: 100%;
      text-align: left;
      font-size: 12px;
    }
    .container {
      width: 75mm;
    }
    .center {
      text-align: center;
      margin-top: 3px;
      margin-bottom: 3px;
      color: #333;
      font-size: 12px;
    }

    .text {
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .logo {
      text-align: center;
    }
  </style>
</head>

<body>
  <%- body %>
</body>

</html>