<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/cashier">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-store"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Toko Ale</div>
    </a>

    <!-- Nav Item - Tables -->
    <li class="nav-item <%= url === '/cashier' ? 'active' : '' %>">
        <a class="nav-link" href="/cashier">
            <i class="fas fa-cash-register"></i>
            <span>Cashier</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Data
    </div>

    <!-- Nav Item - Tables -->
    <li class="nav-item <%= url === '/transaksi' ? 'active' : '' %>">
        <a class="nav-link" href="/transaksi">
            <i class="fas fa-book-open"></i>
            <span>Transaksi</span></a>
    </li>
    <% if(!user.role) { %>
    <!-- Nav Item - Charts -->
    <li class="nav-item <%= url === '/barang' ? 'active' : '' %>">
        <a class="nav-link" href="/barang">
            <i class="fas fa-fw fa-boxes"></i>
            <span>Barang</span></a>
    </li>
    <% } %>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->